html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  font-size: 100%;
  overflow-x: hidden;
  min-height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 h2 h3 h4 h5 h6 p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
